<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SensaraAPISuite">

	<listeners>
		<listener class-name="api.utility.ExtentReportManager" />
	</listeners>
	
	<test name="API Alarm Tests">
		<groups>
			<run>
				<include name="alarms" />
			</run>
		</groups>
		<classes>
			<class name="api.tests.ict.OutOfChairAlarm" />
		</classes>
	</test>
	
	
</suite>